{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Ticket eröffnen{% endblock %}
{% block body %}
<h1>Ticket erstellen</h1>
<p>Hier können Sie ihr Ticket erstellen, um Hilfe vom IT-Support zu bekommen. Dazu bitte das folgende Formular ausfüllen.</p>

<h2>Formular</h2>
<form action="/createTicket/" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Absenden" class="btn btn-warning">
</form>

<!-- <script src="{% static 'sendtodjango.js' %}"></script> -->
{% endblock body %}