{% extends "base.html" %}
{% block title %}Start{% endblock title %}
{% block body %}
    <div class="container">
        <div class="alert alert-light" role="alert">
            <h1>Der eureos-IT-Support</h1>
            hilft bei technischen Problemen. <b>Und so funktionierts:</b><br>
            <div class="list-group">
                <li>
                    <ul>
                        Gehen Sie auf die Seite "Ticket erstellen" entweder über obere Navigationsleiste oder über den Knopf in dieser Meldung.<br>
                    </ul>
                    <ul>
                        Geben Sie alle nötigen Daten in das Formular ein und beschreiben Sie ihr Problem möglichst genau, damit wir schnell helfen können. Wenn Sie das Formular abgeschickt haben, erhalten Sie eine Bestätigungsmail, mit dem Sie das eröffnete Ticket wieder aufrufen und ansehen können.<br>
                    </ul>
                    <ul>
                        Wir versuchen so schnell wie möglich zu antworten und lösen Ihr technisches Problem!<br>
                    </ul>
                </li>
            </div>     
        </div>
    </div>
{% endblock body %}