{% load static %}
<nav class="navbar navbar-expand-sm" style="background-color: #ffbe00;">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}" alt="eureos Support"  height="24" class="d-inline-block align-text-top"></a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId" >
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page"
                        >Start
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createTicket">Ticket erstellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/viewticket">Ticket einsehen</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/backend">Admin-Bereich</a>
                </li>
                {% endif %}
                
            </ul>

            <span class="navbar-text">

                <i class="bi bi-feather"></i> SimpleTix <b>v0.0.1</b> made by Matti
              </span>
        
        </div>
    </div>
</nav><br>