{% load static %}
<nav class="navbar navbar-expand-sm" style="background-color: #ffbe00;">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="#"><img src="{% static 'logo.png' %}" alt="eureos Support"  height="24" class="d-inline-block align-text-top"></a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId" >
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page" style="color: black"
                        >Start
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createTicket" style="color: black">Ticket erstellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black">Ticket einsehen</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav><br>