{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Ticket erfolgreich eröffnet{% endblock %}
{% block body %}

<div class="alert alert-light" role="alert">
    <h1>Ticket wurde erfolgreich erstellt!</h1>
    <b>Wie es jetzt weiter geht:</b>
    <p> 
        Sie bekommen jetzt eine E-Mail zur Bestätigung auf ihre eureos-Mail-Adresse. Darin befindet sich die Nummer des Tickets und auch ein Link, um das Ticket wieder aufzurufen. Außerdem bekommen Sie eine neue E-Mail, sobald wir Ihr Ticket bearbeitet haben.

    </p>
</div>
{% endblock body %}